stages:
  - base
  - deploy

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"

variables:
  SCIP_LINUX: "scipoptsuite_10.0.0-1+trixie_amd64.deb"
  SCIP_WINDOWS: "scipoptsuite-10.0.0-win-x64.zip"
  SCIP_WINDOWS_DIR: "scipoptsuite-10.0.0"

.test_rules:
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - optiwindnet/**/*
        - tests/**/*
    - when: manual

# ===== Test OptiWindNet on Linux =====
test_linux:
  stage: base
  image: python:3.12
  tags: [linux]
  rules:
    - !reference [.test_rules, rules]
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  before_script:
    - apt-get update
    - apt-get install -y coinor-cbc
    # >>> scip/fscip section begin
    - test -f "downloads/$SCIP_LINUX" || wget -P downloads "https://www.scipopt.org/download/release/$SCIP_LINUX"
    - apt-get install -y "./downloads/$SCIP_LINUX"
    # <<< scip/fscip section end
    - python3 -m venv tests/venv
    - source tests/venv/bin/activate
    - pip install -e .[test]
    - python3 --version
  script:
    - pytest --cov-report term-missing:skip-covered --cov=optiwindnet --cov-config .coveragerc
  cache:
    key: CI_JOB_NAME
    path:
      - downloads

# ===== Test OptiWindNet on Windows =====
test_windows:
  stage: base
  image: registry.windenergy.dtu.dk/dockerimages/windows-miniconda:ltsc2019
  tags: [docker-windows]
  rules:
    - !reference [.test_rules, rules]
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  before_script:
    # The next 3 lines install the Miniforge3 conda
    # - Invoke-WebRequest -UserAgent curl https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Windows-x86_64.exe -OutFile Miniforge3-Windows-x86_64.exe
    # - Start-Process -Wait -FilePath Miniforge3-Windows-x86_64.exe -ArgumentList "/InstallationType=JustMe","/RegisterPython=0","/S","/D=$($env:UserProfile)\condaforge"
    # - . "$($env:UserProfile)\condaforge\shell\condabin\conda-hook.ps1"
    - (conda shell.powershell hook) | Out-String | ?{$_} | Invoke-Expression   
    - conda config --add channels conda-forge
    - conda config --set channel_priority strict
    - conda create --name own_test python=3.12
    - conda activate own_test
    # the packages beyond the solvers are dependencies that would be pulled later via pip install
    - conda install coin-or-cbc numba networkx shapely scipy pyyaml bitarray pandas pillow
    # >>> scip/fscip section begin
    - if (!(Test-Path "downloads\$env:SCIP_WINDOWS")) { Invoke-WebRequest -UserAgent curl https://www.scipopt.org/download/release/$env:SCIP_WINDOWS -OutFile "downloads\$env:SCIP_WINDOWS" }
    - Expand-Archive -Path "downloads\$env:SCIP_WINDOWS" -DestinationPath .
    - $env:Path = "$env:Path;$env:SCIP_WINDOWS_DIR\bin\"
    # <<< scip/fscip section end
    - pip install -e .[test]
    - python --version
  script:
    - pytest --cov-report term-missing:skip-covered --cov=optiwindnet --cov-config .coveragerc
  cache:
    key: CI_JOB_NAME
    path:
      - downloads

# ===== Update GitLab Pages =====
make_pages:
  stage: base
  image: python:3.12
  tags: [linux]
  pages: true
  allow_failure: true
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - docs/**/*
        - optiwindnet/**/*.py
      when: manual
  script:
    - apt-get update
    - apt-get -y install make pandoc graphviz
    - pip install .[docs] --upgrade
    - cd docs; make html
    - cd ../; mv docs/build/html public/
  artifacts:
    paths: [public]

# ===== Publish new version on PyPI =====
pypi_linux:
  stage: deploy
  image: python:3.12
  tags: [linux]
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/
  script:
    - pip install --upgrade pip build twine packaging
    - python3 -m build
    - twine upload dist/* -u $TWINE_USERNAME -p $TWINE_PASSWORD
