bidict~=0.23.1
darkdetect~=0.8.0
hygese @ git+https://github.com/mdealencar/PyHygese@scikit-build
matplotlib~=3.10.1
networkx~=3.4.2
numba~=0.61.0
numpy~=2.1.3
ortools~=9.12.4544
osmium~=4.0.2
pony~=0.7.18
py~=1.11.0
pyomo~=6.9.1
PythonCDT @ git+https://github.com/artem-ogre/PythonCDT.git@13456f5
PyYAML~=6.0.2
scipy~=1.15.2
shapely~=2.0.7
svg.py~=1.6.0
utm~=0.7.0
