bidict==0.23.1
darkdetect==0.8.0
hygese @ git+https://github.com/mdealencar/PyHygese@scikit-build
matplotlib==3.10.1
networkx==3.42
numba==0.60.0
numpy==2.0.2
ortools==9.12.4544
osmium==4.0.2
pony==0.7.18
py==1.11.0
Pyomo==6.8.2
PythonCDT @ git+https://github.com/artem-ogre/PythonCDT.git@13456f5
PyYAML==6.0.2
scipy==1.15.1
shapely==2.0.6
svg.py==1.6.0
utm==0.7.0
